[Unit]
Description=gitops.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill gitops.ru
ExecStartPre=-/usr/bin/docker rm gitops.ru
ExecStartPre=-/usr/bin/docker pull marley/gitops.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name gitops.ru   \
 -p 4006:80                        \
 marley/gitops.ru'
ExecStop=-/usr/bin/docker kill gitops.ru
ExecStop=-/usr/bin/docker rm gitops.ru

[Install]
WantedBy=multi-user.target
