<footer class="site-footer">
    <div class="wrapper">
        <!-- hypercomments -->

        <!-- hypercomments -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->

        <div align="center">
            {% if page.keywords %}
            <p>
                <strong>Tags:</strong> {{ page.keywords | strip_html |
                strip_newlines | truncate: 160 }} {% endif %}
            </p>
        </div>

        <h2 class="footer-heading">
            Системный Администратор <br />
            {{ site.title }}
        </h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-3">
                <p class="text">
                    OpenSource проект с исходниками на
                    <a
                        href="https://github.com/webmakaka/gitops.ru"
                        rel="nofollow"
                        >github</a
                    >.

                    <br />

                    Удобно скачать исходники к себе и работать сними, например в
                    VSCode.

                    <br /><br />

                    В репозитории на github можно создавать
                    <a
                        href="https://github.com/webmakaka/gitops.ru/discussions"
                        rel="nofollow"
                        >темы для осбуждения</a
                    >
                    и
                    <a
                        href="https://github.com/webmakaka/gitops.ru/issues"
                        rel="nofollow"
                        >сообщать об ошибках и неточностях</a
                    >.
                </p>

                <p class="text">
                    <strong
                        >Желающие поделиться своим опытом, могут добавлять свои
                        знания и исправлять ошибки, создавая
                        <a
                            href="https://github.com/webmakaka/gitops.ru/pulls"
                            rel="nofollow"
                            >Pull Request's</a
                        >.

                        <br />

                        Для общения, создана группа в телеграм:
                        sysadm_ru.</strong
                    >
                </p>

                <p class="text">
                    <strong
                        >Лучше потратить какое-то количество времени, чтобы
                        записать успешный опыт, чем потом повторно
                        воспроизводить по памяти.</strong
                    ><br /><br />
                    <strong
                        >Все материалы обновляются по мере нахождения лучших
                        практик и апгрейда знаний. Если в проекте будет
                        учавствовать больше людей, качество материалов будет
                        улучшаться и обновляться быстрее.</strong
                    >
                </p>
            </div>
        </div>
    </div>
</footer>
