<footer class="site-footer">
    <div class="wrapper">
        <!-- hypercomments -->

        <!-- hypercomments -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->

        {% if page.keywords %}

        <div align="center">
            <p>
                <strong>Tags:</strong> {{ page.keywords | strip_html |
                strip_newlines | truncate: 160 }}
            </p>
        </div>

        {% endif %}

        <h2 class="footer-heading">{{ site.title }}</h2>
    </div>
</footer>
